<div class="container" id="templateForm">
  <h1>{{ Title }}</h1>
  <!-- {{model | json}} -->
  <form
    #userForm="ngForm"
    name="form"
    class="example-form"
    (ngSubmit)="userForm.form.valid && onSubmitForm()"
    novalidate
  >
    <!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza">
  </mat-form-field> -->
    <mat-form-field class="example-full-width" appearance="fill">
      <!-- <div style="margin-bottom: 10px; width: 500px;" appearance="fill"> -->
      <mat-label for="name">Name</mat-label>
      <input
        type="text"
        name="name"
        #name="ngModel"
        matInput
        [(ngModel)]="model.name"
        [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }"
        required
      />
      <div *ngIf="userForm.submitted && name.invalid">
        <mat-error *ngIf="name?.errors?.['required']"
          >Name is required</mat-error
        >
      </div>
      <!-- <div style="margin-bottom: 10px; width: 500px;"> -->
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="email">Email</mat-label>
      <input
        type="text"
        name="email"
        #email="ngModel"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        matInput
        [(ngModel)]="model.email"
        [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }"
        required
      />
      <div *ngIf="userForm.submitted && email.invalid">
        <!-- <div *ngIf="email?.errors?.['required']">Email is required</div>
        <div *ngIf="email?.errors?.['pattern']">Email is invalid</div> -->
        <mat-error *ngIf="email?.errors?.['required']"
          >Email is required</mat-error
        >
        <mat-error *ngIf="email?.errors?.['pattern']"
          >Email is invalid</mat-error
        >
      </div>
    </mat-form-field>
    <!-- <div style="margin-bottom: 10px; width: 500px;"> -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="phoneNumber">Phone Number</mat-label>
      <input
        type="text"
        name="phoneNumber"
        #phoneNumber="ngModel"
        matInput
        pattern="[0-9]{1}[0-9]{9}"
        [(ngModel)]="model.phoneNumber"
        [ngClass]="{
          'is-invalid': userForm.submitted && phoneNumber.invalid
        }"
        required
      />
      <!-- </mat-form-field> -->
      <div *ngIf="userForm.submitted && phoneNumber.invalid">
        <mat-error *ngIf="phoneNumber?.errors?.['required']">
          Phone Number is required
        </mat-error>
        <mat-error *ngIf="phoneNumber?.errors?.['pattern']">
          Phone number must be of 10 digits
        </mat-error>
      </div>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        name="date"
        #date="ngModel"
        [(ngModel)]="model.date"
        [ngClass]="{
          'is-invalid': userForm.submitted && date.invalid
        }"
        required
      />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker touchUi></mat-datepicker>
      <div *ngIf="userForm.submitted && date.invalid">
        <mat-error *ngIf="date?.errors?.['required']">
          Date is required
        </mat-error>
      </div>
    </mat-form-field>
    <div>
      <div style="display: flex; justify-content: space-between; width: 100%">
        <button
          mat-raised-button
          style="color: white; background-color: darkslategray; width: 300px"
          (click)="onClick()"
        >
          Back
        </button>
        <button
          mat-raised-button
          style="color: white; background-color: darkslategray; width: 300px"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>