<div class="container" id="form">
  <h1>{{ Title }}</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div style="margin-bottom: 10px; width: 500px">
      <label for="name">Name </label>
      <input
        type="text"
        class="form-control"
        placeholder="name"
        formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && userForm.controls.name.errors }"
      />
      <div
        *ngIf="submitted && userForm.controls.name.errors"
        class="invalid-feedback"
      >
        <div *ngIf="userForm.controls.name.errors?.['required']">
          Please enter name
        </div>
      </div>
    </div>
    <div style="margin-bottom: 10px; width: 500px">
      <label for="email">Email </label>
      <input
        type="text"
        class="form-control"
        placeholder="email"
        formControlName="email"
        [ngClass]="{
          'is-invalid': submitted && userForm.controls.email.errors
        }"
      />
      <div
        *ngIf="submitted && userForm.controls.email.errors"
        class="invalid-feedback"
      >
        <div *ngIf="userForm.controls.email.errors?.['required']">
          Please enter email
        </div>
        <div *ngIf="userForm.controls.email.errors?.['pattern']">
          Please enter a valid email
        </div>
      </div>
    </div>
    <div style="margin-bottom: 10px; width: 500px">
      <label for="phoneNumber">Phone Number </label>
      <input
        type="text"
        class="form-control"
        placeholder="phone number"
        formControlName="phoneNumber"
        [ngClass]="{
          'is-invalid': submitted && userForm.controls.phoneNumber.errors
        }"
      />
      <div
        *ngIf="submitted && userForm.controls.phoneNumber.errors"
        class="invalid-feedback"
      >
        <div *ngIf="userForm.controls.phoneNumber.errors?.['required']">
          Please enter phone number
        </div>
        <div *ngIf="userForm.controls.phoneNumber.errors?.['pattern']">
          Please enter a valid phone number
        </div>
      </div>
    </div>
    <button class="btn btn-primary" style="width: 500px; margin-bottom: 10px">
      Login
    </button>
  </form>
  <div *ngIf="submitted && userForm.valid">
    <app-reactive-form-outputs
      [data]="sendDataToChild"
    ></app-reactive-form-outputs>
  </div>
  <div style="display: flex; justify-content: space-between; width: 200px">
    <button>
      <a routerLink="/templateForm" style="text-decoration: none; color: black">
        Template Form
      </a>
    </button>
    <button (click)="onLogoutForm()" style="cursor: pointer">Logout</button>
  </div>
</div>
<router-outlet></router-outlet>

<!-- [disabled] = "!userForm.valid" -->