<!-- <div>
  <h1>{{ title }}</h1>
  <div style="margin-bottom: 10px">
    <label for="num1">Number 1: </label>
    <input type="number" name="num1" [(ngModel)]="num1"/>
  </div>
  <div style="margin-bottom: 10px">
    <label for="num2">Number 2: </label>
    <input type="number" name="num2" [(ngModel)]="num2" />
  </div>
</div>
<hr />
<app-user
  [num1]="num1"
  [num2]="num2"
  (outputFromChild)="receiveChildData($event)"
></app-user>
<h3>Result: {{ num3 }}</h3> -->

<!-- <app-button></app-button> -->

<!-- <app-template-form></app-template-form> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- <div>
<h1>Routing in Angular</h1>
<a routerLink="form" style="text-decoration: none; color: black">Get the Form</a>
</div> -->

<!-- <app-api></app-api> -->

<router-outlet></router-outlet>