<div>
  <div>
    <h1>{{ title }}</h1>
    <div>
      <input
        type="radio"
        value="fruits"
        name="radio"
        [(ngModel)]="selectedButton"
      />
      <label for="fruits">Fruits</label>
    </div>
    <div>
      <input
        type="radio"
        value="vegetables"
        name="radio"
        [(ngModel)]="selectedButton"
      />
      <label for="vegetables">Vegetables</label>
    </div>
  </div>
  <br />
  <div class="row">
    <div *ngIf="selectedButton == 'fruits'">
      <div *ngFor="let opt of options.fruits" class="column">
        <h3 style="font-weight: bold; font-size: 25px">{{ opt.item }}</h3>
        <img src="{{ opt.img }}"/>
      </div>
    </div>
    <div *ngIf="selectedButton == 'vegetables'">
      <div *ngFor="let opt of options.vegetables" class="column">
        <h3 style="font-weight: bold; font-size: 25px">{{ opt.item }}</h3>
        <img src="{{ opt.img }}"/>
      </div>
    </div>
  </div>
</div>