<div>
    <!-- <button type="button" style="margin-bottom: 10px;" (click)="add()">Add</button>
    <br>
    <button type="button" style="margin-bottom: 10px;" (click)="sub()">Subtract</button>
    <br>
    <button type="button" style="margin-bottom: 10px;" (click)="multiply()">Multiply</button>
    <br>
    <button type="button" style="margin-bottom: 10px;" (click)="divide()">Divide</button> -->
    <!-- <select #selectedValue (change)="changeMethod(selectedValue.value)">
        <option value="">Choose Method</option>
        <option value="add">Addition</option>
        <option value="sub">Subtraction</option>
        <option value="multiply">Multiplication</option>
        <option value="divide">Division</option>
    </select> -->
    <button (click)="onClick()">Submit</button>
</div>